// The relative path to the imagecache generating menu callback defined in the
// module.
$velveeticons_path: unquote("../../../../default/files/velveeticons");

// A mixin that produces a background-image for an icon.
@mixin velveeticons-icon($icon, $size: unquote("16x16"), $color: black, $bgcolor: rgba(255, 255, 255, 0), $important: "") {
  $color_rgbahex: hex(red($color)) + hex(green($color)) + hex(blue($color)) + hex(alpha($color) * 255);
  $bgcolor_rgbahex: hex(red($bgcolor)) + hex(green($bgcolor)) + hex(blue($bgcolor)) + hex(alpha($bgcolor) * 255);
  background-image: unquote("url('") + $velveeticons_path + unquote("/") + $size + unquote("_") + $color_rgbahex + unquote("-") + $bgcolor_rgbahex + unquote("/") + $icon + unquote(".png')") unquote($important);
  background-repeat: no-repeat; }
